@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Pilih Font */
h1, p{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
}

/* Nama*/
h1{
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  width: 100%;
  word-wrap: break-word;
}

/* NIM dan BIO*/
p{
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

/* Profile*/
.profile-header-banner{
  width: 120px;
  height: 120px;
  margin-right: 40px;
  position: relative;
}

/* Body */
.body{
  background-color: #F4F4F4;

  /* Fill Container di Figma == 100% di JS*/
  width: 100vw; 
  height: 100vh;

  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Container */
.banner-container{
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 14px;
}
/* Header Container */
.header-banner-wrapper{
  display: flex;
  align-items: center;
}
/* Content Container */
.content-header-banner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 234px;
}
/*CTA*/
.cta-banner-wrapper{
  width: 100%;
}
.cta-button{
  display: flex;
  padding: 10px 140px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #FFEDCE;

}

.cta-input{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  border: solid 1px darkgrey;

}

.cta-button p{
  font-weight: 700;
}


